.SpellForm form {
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 56, 56);
  gap: 1vh;
  padding: 5px;
}

.SpellForm button {
  width: 15%;
  border-radius: 5px;
  padding: 2px;
  align-self: flex-end;
  cursor: pointer;
}

.SpellForm input {
  width: 80%;
  height: 30%;
  padding: 5px;
  opacity: 50%;
}
