@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", sans-serif;
  background-image: url("C:\Users\krist\gallery\my-gothic-art-gallery\public\images\branches-on-red-sky1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
