body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* важно! */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 600px) {
  .layout-main {
    max-width: 100%;
    padding: 1rem;
  }
  .Post,
  .GalleryItem {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
